* {
  background-color: black;
}
.App {
  text-align: center;
  display: flex;
  width: 50%;
  height: 50%;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
button {
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: 4px 5px black;
}
